body {
	margin: 0;
}

.days {
	font: 50px "Lucida Grande";
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
}

#daysButton {
	width: 100%;
	height: 100%;
}

#daysText {
	padding: 25px 0 0px 0px;
}

#flipbox {
	position: absolute;
	width: 220px;
	height: 115px;
}

.backdrop {
	width: 100%;
	height: 100%;
	position: absolute;
}

#front {
	background: transparent url('Default.png') no-repeat scroll top right;
}

#back {
	background: transparent url('Default_reverse.png') no-repeat scroll top right;
	display: none;
}

#infoButton {
	opacity:0;
	background: url(file:///System/Library/WidgetResources/ibutton/white_i.png) no-repeat top left;
	z-index:8000;
	position:absolute;
	bottom: 12px;
	right: 30px;
	width:13px;
	height:13px;
}
